apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration

clusterName: {{ cluster_name }}

kubernetesVersion: "{{ kubernetes_version }}"

controlPlaneEndpoint: "{{ control_plane_endpoint }}"

networking:
  podSubnet: "{{ pod_subnet }}"
  serviceSubnet: "{{ service_subnet }}"

---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration

localAPIEndpoint:
  advertiseAddress: "{{ hostvars[inventory_hostname].ansible_host }}"
  bindPort: 6443

nodeRegistration:
  criSocket: "{{ cri_socket }}"
  kubeletExtraArgs:
    node-ip: "{{ hostvars[inventory_hostname].ansible_host }}"
